{% extends 'base/manager-base.html' %}

{% load static %}

{% block container %}




{% include 'includes/manager-nav.html' %}


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Food List</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>NAME</th>
                                                <th>IMAGE</th>
                                                <th>FOODCATEGORY</th>
                                                <th>STORE</th>
                                                <th>IS_VEG</th>
                                                <th>PRICE</th>
                                                <th>EDIT</th>
                                                <th>DELETE</th>
                                            </tr>
                                        </thead>
                                    <tbody>
                                        {% for instance in instances %}
                                        <tr>
                                            <td>{{instance.id}}</td>
                                            <td>{{instance.name}}</td>
                                            <td><img src="{{instance.image.url}}" alt="image" style="width: 70px;"></td>
                                            <td>{{instance.foodcategory}}</td>
                                            <td>{{instance.store}}</td>
                                            <td>{{instance.is_veg}}</td>
                                             <td>{{instance.price}}</td>
                                            <td><a href="{% url 'manager:food_edit' id=instance.id %}"><button type="button" class="btn mb-1 btn-primary">Edit</button></a></td>
                                            <td><a href="{% url 'manager:food_delete' id=instance.id %}"><button type="button" class="btn mb-1 btn-danger" >Delete</button></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

{% endblock %}