{% extends 'base/manager-base.html' %}
{% load static %}
{% block container %}

<div class="container-fluid" style="padding-top: 200px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Manager Login</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label for="id_password">Password</label>
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    {% if form.errors %}
                        <div class="alert alert-danger mt-3">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

