{% extends 'base/web-base.html' %}

{% load static %}

{% block container %}


{% include 'includes/header.html' %}

<section class="wrapper pt-40">
    
<h1 class="text-[50px] font-bold text-green-500 text-center">offers</h1>

<section class=" py-10 ">
    <section class=" swiper mySwiper">
        <div class="swiper-wrapper">
            {% for slider in sliders %}
            <div class="swiper-slide">
                <a href="#">
                    <img src="{{slider.image.url}}" alt="image" class=" w-full rounded-2xl">
                </a>
            </div>
            {% endfor %}
        </div>
</section>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div class="max-w-[620px] h-[140px] bg-gray-200 sm:h-[120px] rounded-2xl shadow-md opacity-90 m-auto px-[20px] mt-[40px]">
        <div class="flex justify-between h-[60%] items-center">
            <span class="text-[20px] font-[500]">
                FCBG56
            </span>
            <a href="{% url 'web:index' %}" class="bg-[#7ac89d] px-[16px] hover:scale-110 transition-transform duration-300 py-[8px] hover:bg-[#4cf196] text-white font-[600] rounded-[5px]">
                APPLY
            </a>
            
        </div>
        <p class="text-[#56d94b] font-[500] h-[40%] items-center">Maximum discount upto ₹ 120 on orders above ₹ 1200</p>
    </div>

    <div class="max-w-[620px] h-[140px] bg-gray-200 sm:h-[120px] rounded-2xl shadow-md opacity-90 m-auto px-[20px] mt-[20px]">
        <div class="flex justify-between h-[60%] items-center">
            <span class="text-[20px] font-[500]">
                GF56
            </span>
            <a href="{% url 'web:index' %}" class="bg-[#83b79d] px-[16px] hover:scale-110 transition-transform duration-300 py-[8px] hover:bg-[#50eb96] text-white font-[600] rounded-[5px]">
                APPLY
            </a>
        </div>
        <p class="font-[500] text-[#56d94b] h-[40%] items-center">Maximum discount upto ₹ 50 on orders above ₹ 2500</p>
    </div>

    <div class="max-w-[620px] h-[140px] bg-gray-200 sm:h-[120px] rounded-2xl shadow-md opacity-90 m-auto px-[20px] mt-[20px]">
        <div class="flex justify-between h-[60%] items-center">
            <span class="text-[20px] font-[500]">
                CB56
            </span>
            <a href="{% url 'web:index' %}" class="bg-[#83b79d] px-[16px] hover:scale-110 transition-transform duration-300 py-[8px] hover:bg-[#50eb96] text-white font-[600] rounded-[5px]">
                APPLY
            </a>
        </div>
        <p class="font-[500] text-[#56d94b] h-[40%] items-center">Maximum discount upto ₹ 50 on orders above ₹ 2500</p>
    </div>

    <div class="max-w-[620px] h-[140px] bg-gray-200 sm:h-[120px] rounded-2xl shadow-md opacity-90 m-auto px-[20px] mt-[20px]">
        <div class="flex justify-between h-[60%] items-center">
            <span class="text-[20px] font-[500]">
                54GF
            </span>
            <a href="{% url 'web:index' %}" class="bg-[#83b79d] px-[16px] hover:scale-110 transition-transform duration-300 py-[8px] hover:bg-[#50eb96] text-white font-[600] rounded-[5px]">
                APPLY
            </a>
        </div>
        <p class="font-[500] text-[#56d94b] h-[40%] items-center">Maximum discount upto ₹ 50 on orders above ₹ 2500</p>
    </div>
</div>

<div class=" mt-6 flex overflow-hidden  overflow-x-scroll scroll-smooth  smooth-scroll ">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer1.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer2.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer4.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer3.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offers.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer5.png' %}" alt="images">

  </div>

<div class="bg-gray-50 mt-5 rounded-3xl text-gray-800">
    <div class=" mx-auto px-6 py-8">
      <h2 class="text-2xl md:text-3xl font-bold mb-4">More Details About Yatra Offers</h2>
      <p class="text-gray-600 mb-6">
        Enjoy travelling at the best prices with Yatra offers - today. The travel and tourism industry is one of the fastest growing sectors globally. Choosing the best discount offers among so many available online is one of the most crucial steps of planning a holiday. Yatra enables its users to plan their trip online, compare prices of various airlines, hotels and bus operators and get the finest deals. A number of Yatra offers ensure that you have a fulfilling vacation without going overboard on your budget.
      </p>
      <h3 class="text-xl md:text-2xl font-bold mb-2">Yatra Money</h3>
      <p class="text-gray-600 mb-6">
        Yatra has now launched its virtual currency which is known as Yatra money. Users can both earn and spend Yatra money on their flight and bus bookings. Since there is no limit on how much Yatra money you can spend on one booking, users can use 100% of their Yatra money balance on a single flight booking and upto ₹150 on a bus booking. You can choose from many Yatra money offers available online and book your tickets at the most affordable rates.
      </p>
      <h3 class="text-xl md:text-2xl font-bold mb-2">Yatra Discount Offers</h3>
      <p class="text-gray-600 mb-6">
        There are a number of Yatra offers for flight, bus and hotel bookings available online. All you have to do is enter the Yatra coupon code to get great discounts on your flight and bus bookings. You can avail these offers while checking out and save a lot of money.
      </p>
      <p class="text-gray-600 mb-6">
        Being one of the top travel aggregators, Yatra offers are revised from time to time to fulfill the changing requirements of the users. Yatra provides attractive offers for both existing and new users. As the offers keep changing frequently, it is important that you keep yourself updated to avail the best deals on your next booking. Also, there are nice combos available for the users that include Yatra money offers and various discounts.
      </p>
    </div>
  

  </div>

</section>

<footer class="bg-gray-200 border-t ">
    <div class="border-b py-6 ">
        <div class="max-w-full mx-auto px-6">
            <h4 class="font-medium text-gray-700 mb-4">Important Links</h4>
            <div class="flex flex-wrap gap-4 text-sm text-gray-600">
                <a href="#" class="hover:text-gray-800">IRCTC Trains</a>
                <a href="#" class="hover:text-gray-800">Tatkal Railway Reservation</a>
                <a href="#" class="hover:text-gray-800">PNR Status</a>
                <a href="#" class="hover:text-gray-800">Train Running Status</a>
                <a href="#" class="hover:text-gray-800">Train Seat Availability</a>
                <a href="#" class="hover:text-gray-800">Platform Locator</a>
                <a href="#" class="hover:text-gray-800">Vande Bharat Express</a>
                <a href="#" class="hover:text-gray-800">IRCTC Cancellation Charges</a>
                <a href="#" class="hover:text-gray-800">Flight Booking</a>
                <a href="#" class="hover:text-gray-800">International Flights</a>
                <a href="#" class="hover:text-gray-800">Student Flight Booking</a>
                <a href="#" class="hover:text-gray-800">Armed Forces Flight Booking</a>
                <a href="#" class="hover:text-gray-800">Senior Citizen Flight Booking</a>
                <a href="#" class="hover:text-gray-800">Airlines</a>
                <a href="#" class="hover:text-gray-800">abhibus</a>
                <a href="#" class="hover:text-gray-800">ConfirmTkt</a>
                <a href="#" class="hover:text-gray-800">Travel Stories</a>
            </div>
        </div>
    </div>
    <div class="max-w-full mx-auto px-6 flex  flex-wrap justify-between items-center text-sm text-gray-500 mt-9">
        <p class="w-full sm:w-auto text-center sm:text-left">
            © 2024 Le Travenues Technology Ltd. India. All brands are trademarks of their respective owners.
        </p>
        <div class="flex justify-center space-x-4 ">
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" class="w-6 h-6"></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="Twitter" class="w-6 h-6"></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" class="w-6 h-6"></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733561.png" alt="LinkedIn" class="w-6 h-6"></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733590.png" alt="YouTube" class="w-6 h-6"></a>
        </div>
        <div class="flex flex-wrap mb-6 justify-center sm:justify-end gap-4 w-full sm:w-auto mt-4 sm:mt-0">
            <a href="#" class="hover:text-gray-700">Privacy</a>
            <a href="#" class="hover:text-gray-700">Terms Of Use</a>
            <a href="#" class="hover:text-gray-700">Careers</a>
            <a href="#" class="hover:text-gray-700">Customer Service</a>
            <a href="#" class="hover:text-gray-700">About Us</a>
            <a href="#" class="hover:text-gray-700">Investor Relations</a>
            <a href="#" class="hover:text-gray-700">CSR</a>
        </div>
    </div>

</footer>


  

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./js/jquery-3.7.1.min.js"></script>
  <script src="./js/index.js"></script>

 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

 <script>
     var swiper = new Swiper(".mySwiper", {
     spaceBetween: 30,
     centeredSlides: true,
     autoplay: {
         delay: 2500,
         disableOnInteraction: false,
     },
     breakpoints: {
         499: {
             slidesPerView: 1,
             spaceBetweenSlides: 30
         },
         999: {
             slidesPerView: 3,
             spaceBetweenSlides: 40
         }
     },
     pagination: {
         el: ".swiper-pagination",
         clickable: true,
     },
     navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
     },
     });
 </script>
{% endblock %}