{% extends 'base/web-base.html' %}

{% load static %}

{% block container %}


{% include 'includes/header.html' %}

<section class="wrapper pt-40">
    
<h1 class="text-[50px] font-bold text-green-500 text-center">offers</h1>

<section class=" py-10 wrapper">
    <section class=" swiper mySwiper">
        <div class="swiper-wrapper">
            {% for slider in sliders %}
            <div class="swiper-slide">
                <a href="#">
                    <img src="{{slider.image.url}}" alt="image" class=" w-full rounded-2xl">
                </a>
            </div>
            {% endfor %}
        </div>
</section>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div class="max-w-[620px] h-[140px] bg-gray-200 sm:h-[120px] rounded-2xl shadow-md opacity-90 m-auto px-[20px] mt-[40px]">
        <div class="flex justify-between h-[60%] items-center">
            <span class="text-[20px] font-[500]">
                FCBG56
            </span>
            <a href="#" class="bg-[#7ac89d] px-[16px] hover:scale-110 transition-transform duration-300 py-[8px] hover:bg-[#4cf196] text-white font-[600] rounded-[5px]">
                APPLY
            </a>
        </div>
        <p class="text-[#56d94b] font-[500] h-[40%] items-center">Maximum discount upto ₹ 120 on orders above ₹ 1200</p>
    </div>

    <div class="max-w-[620px] h-[140px] bg-gray-200 sm:h-[120px] rounded-2xl shadow-md opacity-90 m-auto px-[20px] mt-[20px]">
        <div class="flex justify-between h-[60%] items-center">
            <span class="text-[20px] font-[500]">
                GF56
            </span>
            <a href="#" class="bg-[#83b79d] px-[16px] hover:scale-110 transition-transform duration-300 py-[8px] hover:bg-[#50eb96] text-white font-[600] rounded-[5px]">
                APPLY
            </a>
        </div>
        <p class="font-[500] text-[#56d94b] h-[40%] items-center">Maximum discount upto ₹ 50 on orders above ₹ 2500</p>
    </div>

    <div class="max-w-[620px] h-[140px] bg-gray-200 sm:h-[120px] rounded-2xl shadow-md opacity-90 m-auto px-[20px] mt-[20px]">
        <div class="flex justify-between h-[60%] items-center">
            <span class="text-[20px] font-[500]">
                CB56
            </span>
            <a href="#" class="bg-[#83b79d] px-[16px] hover:scale-110 transition-transform duration-300 py-[8px] hover:bg-[#50eb96] text-white font-[600] rounded-[5px]">
                APPLY
            </a>
        </div>
        <p class="font-[500] text-[#56d94b] h-[40%] items-center">Maximum discount upto ₹ 50 on orders above ₹ 2500</p>
    </div>

    <div class="max-w-[620px] h-[140px] bg-gray-200 sm:h-[120px] rounded-2xl shadow-md opacity-90 m-auto px-[20px] mt-[20px]">
        <div class="flex justify-between h-[60%] items-center">
            <span class="text-[20px] font-[500]">
                54GF
            </span>
            <a href="#" class="bg-[#83b79d] px-[16px] hover:scale-110 transition-transform duration-300 py-[8px] hover:bg-[#50eb96] text-white font-[600] rounded-[5px]">
                APPLY
            </a>
        </div>
        <p class="font-[500] text-[#56d94b] h-[40%] items-center">Maximum discount upto ₹ 50 on orders above ₹ 2500</p>
    </div>
</div>

<div class=" mt-6 flex overflow-hidden  overflow-x-scroll scroll-smooth  smooth-scroll ">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer1.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer2.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer4.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer3.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offers.png' %}" alt="images">
    <img class="ml-10 w-[410px] rounded-3xl h-[200px]" src="{% static 'web/images/offer5.png' %}" alt="images">

  </div>

</section>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./js/jquery-3.7.1.min.js"></script>
  <script src="./js/index.js"></script>

 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

 <script>
     var swiper = new Swiper(".mySwiper", {
     spaceBetween: 30,
     centeredSlides: true,
     autoplay: {
         delay: 2500,
         disableOnInteraction: false,
     },
     breakpoints: {
         499: {
             slidesPerView: 1,
             spaceBetweenSlides: 30
         },
         999: {
             slidesPerView: 3,
             spaceBetweenSlides: 40
         }
     },
     pagination: {
         el: ".swiper-pagination",
         clickable: true,
     },
     navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
     },
     });
 </script>
{% endblock %}