{% extends 'base/web-base.html' %}

{% load static %}

{% block container %}

{% include 'includes/header.html' %}



<section class="wrapper p-40">
    <div class="flex items-center border bg-white px-6 py-2 rounded-2xl " >
            <!-- Calendar Section -->
            <div class=" bg-gray-100 shadow mt-6 p-4 rounded-lg">
                <div class="text-center text-lg font-medium mb-4">DECEMBER 2024</div>
                <div class="grid grid-cols-7 gap-4 text-center">
                    <!-- Example Day -->
                    <a href="#" class="bg-red-100 p-4 rounded-lg text-sm font-medium">
                        <div>Fri, 13 Dec</div>
                        <div class="text-red-500">Train<br>Departed</div>
                    </a>
        
                    <a href="" class="bg-red-100 p-4 rounded-lg text-sm">
                        <div>Sat, 14 Dec</div>
                        <div class="text-red-500 font-medium">WL 38</div>
                        <div class="text-green-600">37% Chances</div>
                    </a>
        
                    <a href="#" class="bg-red-100 p-4 rounded-lg text-sm">
                        <div>Sun, 15 Dec</div>
                        <div class="text-red-500 font-medium">WL 30</div>
                        <div class="text-green-600">53% Chances</div>
                    </a>
        
                    <a href="#" class="bg-red-100 p-4 rounded-lg text-sm">
                        <div>Mon, 16 Dec</div>
                        <div class="text-red-500 font-medium">WL 27</div>
                        <div class="text-green-600">57% Chances</div>
                    </a>
        
                    <a href="#" class="bg-red-100 p-4 rounded-lg text-sm">
                        <div>Tue, 17 Dec</div>
                        <div class="text-red-500 font-medium">WL 35</div>
                        <div class="text-green-600">56% Chances</div>
                    </a>
        
                    <a href="#" class="bg-red-100 p-4 rounded-lg text-sm">
                        <div>Wed, 18 Dec</div>
                        <div class="text-red-500 font-medium">WL 34</div>
                        <div class="text-green-600">66% Chances</div>
                    </a>
        
                    <a href="#" class="bg-red-100 p-4 rounded-lg text-sm">
                        <div>Thu, 19 Dec</div>
                        <div class="text-red-500 font-medium">WL 43</div>
                        <div class="text-green-600">57% Chances</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}