{% load static %}


<header class=" w-full fixed z-50 bg-white rounded-xl">
    <div class="flex justify-between items-center">
        <ul class="flex items-center">
        <img class=" w-[90px] h-[90px] sm:w-[130px] sm:h-[130px] " src="{% static 'web/images/logo.jpg' %}" alt="logo">
        <h1 class="ml-4 text-[25px] sm:text-[40px] transition-transform duration-300 hover:scale-110 hover:text-[#ed864e] italic font-bold text-[#eb996d]">Yatra</h1>
        </ul>
        <div class=" hidden lg:flex  items-center">
            {% for category in categories %}
              <a href="{% url 'web:bus' %}" class="flex ml-10 items-center">
                <img class=" w-[150px] h-[100px] transition-transform duration-300 hover:scale-110 rounded-xl" src="{{category.image.url}}" alt="images">
                <h1 class="text-[30px] font-bold transition-transform duration-300 hover:scale-110 hover:text-[#000] text-[#434242] ml-2">{{category.name}}</h1>
              </a>
            {% endfor %}
          </div>
          <div class="sm:hidden flex items-center mr-9" id="mobile-menu-button">
            <i class='bx bx-menu' id="mobile-menu"></i>
          </div>
        <div class=" hidden sm:flex items-center">
            <a href="{% url 'web:offer' %}" class="flex items-center ml-7">
                <img class=" w-[50px] h-[50px] transition-transform duration-300 hover:scale-110" src="{% static 'web/images/offer.png' %}" alt="images">
                <h2 class="text-[20px] font-medium transition-transform duration-300 hover:scale-110 hover:text-[#ff2f2f] mr-6 ml-2 text-[#000]">Offer</h2>
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'web:logout' %}" class="flex items-center ml-7">
                <img class=" w-[50px] h-[50px] transition-transform duration-300 hover:scale-110" src="{% static 'web/images/logout1.png' %}" alt="images">
                <h2 class="text-[20px] font-medium transition-transform duration-300 hover:scale-110 hover:text-[#ff2f2f] mr-6 ml-2 text-[#000]">Logout</h2>
            </a>
            {% else %}
            <a href="{% url 'web:register' %}" class="flex items-center ml-7">
                <img class=" w-[50px] h-[50px] transition-transform duration-300 hover:scale-110" src="{% static 'web/images/sign.avif' %}" alt="images">
                <h2 class="text-[20px] font-medium transition-transform duration-300 hover:scale-110 hover:text-[#ff2f2f]  ml-2 text-[#000]">Sign Up</h2>
            </a>
            <a href="{% url 'web:login' %}" class="flex items-center ml-7">
                <img class=" w-[50px] h-[50px] transition-transform duration-300 hover:scale-110" src="{% static 'web/images/login2.jpg' %}" alt="images">
                <h2 class="text-[20px] font-medium transition-transform duration-300 hover:scale-110 hover:text-[#ff2f2f]  ml-2 text-[#000]">Login</h2>
            </a>
            {% endif %}
        </div>
    </div>
    <div class=" flex sm:hidden border px-6 py-4 rounded-xl bg-black bg-opacity-80 max-w-xs mx-auto items-center" id="mobile-drop">
        <div>
            {% for category in categories %}
            <a href="#" class="flex ml-10 mt-5 items-center">
              <img class=" w-[70px] h-[70px] transition-transform duration-300 hover:scale-110 rounded-xl" src="{{category.image.url}}" alt="images">
              <h1 class="text-[30px] font-bold transition-transform duration-300 hover:scale-110 hover:text-[#ff2f2f]  text-[#e34141] ml-2">{{category.name}}</h1>
            </a>
          {% endfor %}
          <a href="{% url 'web:offer' %}" class="flex items-center ml-7">
            <img class=" w-[50px] h-[50px] transition-transform duration-300 hover:scale-110" src="{% static 'web/images/offer.png' %}" alt="images">
            <h2 class="text-[20px] font-medium transition-transform duration-300 hover:scale-110 hover:text-[#ff2f2f] mr-6 ml-2 text-[#000]">Offer</h2>
        </a>
          {% if user.is_authenticated %}
          <a href="{% url 'web:logout' %}" class=" flex items-center mt-3">
              <img class=" w-[50px] h-[50px] transition-transform ml-10 duration-300 hover:scale-110" src="{% static 'web/images/logout1.png' %}" alt="images">
              <h2 class="text-[20px] font-medium transition-transform duration-300 hover:scale-110 hover:text-[#ff2f2f] ml-10 text-[#e34141]">Logout</h2>
          </a>
          {% else %}
          <a href="{% url 'web:register' %}" class=" flex items-center mt-3">
              <img class=" w-[50px] h-[50px] transition-transform duration-300 hover:scale-110" src="{% static 'web/images/sign.avif' %}" alt="images">
              <h2 class="text-[20px] font-medium transition-transform duration-300 hover:scale-110 hover:text-[#ff2f2f] ml-10  text-[#e34141]">Sign Up</h2>
          </a>
          <a href="{% url 'web:login' %}" class=" flex items-center mt-3">
              <img class=" w-[50px] h-[50px] transition-transform duration-300 hover:scale-110" src="{% static 'web/images/login2.jpg' %}" alt="images">
              <h2 class="text-[20px] font-medium transition-transform duration-300 hover:scale-110 hover:text-[#ff2f2f] ml-10  text-[#e34141]">Login</h2>
          </a>
          {% endif %}
        </div>
       
    </div>
</header>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Dropdown functionality (similar to your existing code)
        // ...
    
        // Menu icon functionality
        const mobileMenu = document.getElementById('mobile-menu');
        const mobileDrop = document.getElementById('mobile-drop');
        let isMenuOpen = false;
    
        mobileMenu.addEventListener('click', function () {
        isMenuOpen = !isMenuOpen;
    
        if (isMenuOpen) {
            mobileDrop.classList.remove('hidden');
        } else {
            console.log('Closing menu');
            mobileDrop.classList.add('hidden');
        }
        });
    

    });
</script>